@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-success{
    background-color: rgb(127, 239, 127);
}

.alert-danger{
    background-color: rgb(232, 136, 136);
}


@layer components{
    .wrapper{
        padding: 1.5rem;
    }

    .fcc{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fbc{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .fc{
        display: flex;
        align-items: center;
    }
}